body {
    background: #000000;
}
.centerwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hero {
    background: linear-gradient(to bottom, #937a52, #870a22);
    color: #fff;
    padding: 20px 30px;
    border-radius: 20px;
    text-align: center;
}
.bat,
.DPS {
    font-size: 34px;
    border-radius: 20px;
    padding: 10px 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.bat {
    background: linear-gradient(to bottom, #E82020, #3D0E0D);
}

.DPS {
    background: linear-gradient(to bottom, #EBB837, #4E1618);
}
.blackpad {
    background-color: #000000;
    padding: 6px 6px;
    border-radius: 20px;
}
